.table-container {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  padding: 30px;

}

html,body{
  height: 100%;
  overflow: auto;
}

.favorites-table {
  width: 100%;

}
